<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="NET_DoAn.Properties.Settings.QLXMConnectionString"
            connectionString="Data Source=DESKTOP-NTU0LN1\SQLEXPRESS;Initial Catalog=QLXM;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>